[ext4]
TEST_DEV=/dev/vda
TEST_DIR=/mnt/test1
SCRATCH_DEV=/dev/vdb
SCRATCH_MNT=/mnt/test2
MKFS_OPTIONS="-q -F -b4096"
MOUNT_OPTIONS="-o discard"
RECREATE_TEST_DEV=true
FSTYP=ext4

[ext4_1024]
MKFS_OPTIONS="-q -F -b1024"
RECREATE_TEST_DEV=true
FSTYP=ext4

[ext4_2048]
MKFS_OPTIONS="-q -F -b2048"
RECREATE_TEST_DEV=true
FSTYP=ext4

[ext3]
MKFS_OPTIONS="-q -F -b4096"
RECREATE_TEST_DEV=true
FSTYP=ext3

[ext3_1024]
MKFS_OPTIONS="-q -F -b1024"
RECREATE_TEST_DEV=true
FSTYP=ext3

[ext3_2048]
MKFS_OPTIONS="-q -F -b2048"
RECREATE_TEST_DEV=true
FSTYP=ext3

[ext2]
MKFS_OPTIONS="-q -F -b4096"
RECREATE_TEST_DEV=true
FSTYP=ext2

[ext2_1024]
MKFS_OPTIONS="-q -F -b1024"
RECREATE_TEST_DEV=true
FSTYP=ext2

[ext2_2048]
MKFS_OPTIONS="-q -F -b2048"
RECREATE_TEST_DEV=true
FSTYP=ext2
